@term-foreground: #e0e0e0;
@term-background: #24282a;
@scrollbar-shadow: rgba(0, 0, 0, 0.3);
@scrollbar-thumb: rgb(221, 235, 222);

@green-foreground: rgb(81, 238, 120);
@green-middle: rgb(36, 111, 55);
@green-background: #00410056;

.panel-content-container() {
white-space: pre-wrap;
background-color: @term-background;
color: @term-foreground;

padding: 8px;
overflow-y: auto;

border-style: groove;

display: flex;
flex: 1;
flex-direction: column;

font-family: "Roboto Mono", monospace;
font-size: 14px;
text-align: left;

.subtle-inner-shadow(@term-foreground)
}

.subtle-inner-shadow(@color, @size: 3px) {
  -moz-box-shadow:    inset 0 0 @size @color;
  -webkit-box-shadow: inset 0 0 @size @color;
  box-shadow:         inset 0 0 @size @color;
}

.font-face(@font-family, @filepath, @font-weight, @font-style){
    @font-face {
        font-family: @font-family;
        src: url('assets/@{filepath}.TTF')  format('truetype');
        font-weight: @font-weight;
        font-style: @font-style;
    }
}

.font-face('BigBlue Terminal', 'BigBlue_TerminalPlus', normal, normal);
